<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
  <head>
    <title>CSS Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/form.css" rel="stylesheet" />
    <link href="/css/card.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      Trang quản lý lớp học
    </header>
    <div id="main">
      <div id="formdiv">
        <form action="/findClass/view" method="GET">
          <label for="subject">Môn học</label> <br />
          <input
            type="text"
            name="subject"
            id="subject"
            pattern="^[a-zA-Z0-9 ]*$"
            title="Nhập đúng đinh dạng"
            required
          />
          <br />
          <label for="term">Năm học</label><br />
          <input 
            type="text" 
            name="year" 
            id="year"
            pattern="^20[0-9]{2}$"
            title="nhập năm học gồm 4 chữ số định dạng 20xx" 
            required
            /> 
            <br/>
          <br />
          <button
            class="button"
            style="background-color: #114f82"
            type="submit"
          >
            Tìm Kiếm
          </button>
        </form>
      </div>

      <div class="sidenav">
        <a href="#">Tác vụ 1</a>
        <a href="#">Tác vụ 2</a>
        <a href="#">Tác vụ 3</a>
      </div>

      <div class="content">
        <li th:each="classroom : ${classrooms}">
          <section class="card" th:data-classroomId = "${'/scores/' + classroom.getId()}" onclick = "window.location.href=this.getAttribute('data-classroomId');">
            <p>Nhóm: <span th:text="${classroom.getSubject().getCredits()}"> </span></p>
            <p>Năm học: <span th:text="${classroom.getYear()}"> </span></p>
            <p>Kỳ học: <span th:text="${classroom.getSemester()}"> </span></p>
            <p>Tên môn học: <span th:text="${classroom.getSubject().getName()}"> </span></p>
            <p>Mã môn học: <span th:text="${classroom.getSubject().getId()}"> </span></p>
          </section>
        </li>
      </div>
    </div>
  </body>
</html>
