<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/table.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
</head>
<body>

<div id = "main">
  <div class="sidenav">
    <a href="#">Tác vụ 1</a>
    <a href="#">Tác vụ 2</a>
    <a href="#">Tác vụ 3</a>
  </div>

  <div class="content">
      <div th:insert="~{fragment/class_details :: div#classroom-detail}">
      </div>

      <table>
          <thead>
          <th>STT</th>
          <th>MSV</th>
          <th>Họ và tên</th>
          <th>Điểm CC (<span th:text="${#numbers.formatDecimal(classroom.subject.diligence * 100, 2, 0)} + '%)'"></span></th>
          <th>Điểm BT (<span th:text="${#numbers.formatDecimal(classroom.subject.homework * 100, 2, 0)} + '%)'"></span></th>
          <th>Điểm KT (<span th:text="${#numbers.formatDecimal(classroom.subject.test * 100, 2, 0)} + '%)'"></span></th>
          <th>Điểm TH (<span th:text="${#numbers.formatDecimal(classroom.subject.lab * 100, 2, 0)} + '%)'"></span></th>
          <th>Điểm thi (<span th:text="${#numbers.formatDecimal(classroom.subject.exam * 100, 2, 0)} + '%)'"></span></th>
          <th>AVG</th>
          <th>Ghi Chú</th>
          </thead>
          <tbody>
          <tr th:each="score: ${scores}">
              <td th:text="${scoreStat.index} + 1"></td>
              <td th:text="${score.student.id}"></td>
              <td th:text="${score.student.name}"></td>
              <td th:text="${score.diligence}"></td>
              <td th:text="${score.homework}"></td>
              <td th:text="${score.test}"></td>
              <td th:text="${score.lab}"></td>
              <td th:text="${score.exam}"></td>
              <td th:text="${#numbers.formatDecimal(score.finalScore, 2, 2)}"></td>
              <td th:text="((${score.finalScore} < 1.5)? 'KO DU DKDT' : '')"></td>
          </tr>
          </tbody>
      </table>

    <br>
    <div id="result">
    <p>Trung bình cả lớp: <strong th:text="${classroom.avg}"></strong></p>
    <p>Số sinh viên không đủ DKDT: <strong th:text="${num_non_satisfy_student}"></strong></p>
    <p>Số % sinh viên không đủ DKDT: <strong th:text="${ratio_non_satisfy_student}+'%'"></strong></p>
    </div>
    <button class="button" style="background-color:blue">
     Edit
    </button>
    <button class="button" style="background-color:#f44336">
     Back to home
    </button>
  </div>
</div>
</body>
</html>


