<html>
<body>

<div id="classroom-detail">
    <p>Mã môn học: <span th:text="${classroom.subject.id}"></span></p>
    <p>Nhóm: <span th:text="${classroom.groupNumber}"></span> </p>
    <p>Kỳ <span th:text="${classroom.semester}"></span> năm <span th:text="${classroom.year}"></span>-<span th:text="${classroom.year} + 1"></span> </p>
</div>


</body>
</html>