.card {
	float: left;
    padding: 25px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: gray;
    color: white;
    border: 5px solid black;
}

.card p {
  margin-top: 10px;
}

.card:hover {
	color: yellow;
}