#formdiv {
  width: 300px;
  margin-left: 150px;
  margin-top: 25px;
  /*border: 3px solid blue;*/
  padding: 25px;
}

label {
  display: box;
  margin-bottom: 5px;
}

input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}