* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

header {
	margin-top: 0;
	width: 100%;
    height: 100px;
    background-color: #f1f1f1;
    float: left;
    padding: 10px;
}

/* Style the content */
.content {
  margin-left: 150px;
  padding-left: 20px;
}

#main {
	float: left;
    height: 100%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

header {
  width: 100%;
  height: 200px;
  vertical-align: auto;
  font-size: 120%;
  background-color: black;
  color: white;
  border-bottom: 2px solid red;
  font-style: bold;
}